@import url(./__container/page__container.css);

.page {
  background:  #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* header, footer, main, div, section, figure, nav, article{
  outline: 1px solid white;
  background: darkblue;
}

p, li, img, h1, h2, h3, figcaption, a, span {
  outline: 1px dashed yellow;
  background: orange;
}

.page {
  background: black;
}

.page__container {
  background: gray;
} */