.barentsburg__link {
  max-width: 282px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #FFF;
  margin: 0;
}

.barentsburg__link:hover {
  opacity: 0.8;
}
