@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-number/intro__list-number.css);

.intro {
  width: 984px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1279px){
  .intro {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: 100%;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 16px;
  }
}
