@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-number/intro__list-number.css);

.intro {
  max-width: 984px;
  box-sizing: border-box;
  outline: 1px solid yellow;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-left: 16px;
  }
}
