.lead__subtitle {
  width: 640px;
  margin: 0 auto 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto 40px;
  }
}