.lead__subtitle {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 0 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    padding-bottom: 40px;
    width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}