.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFF;
  margin: 245px auto 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    margin: 195px auto 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    margin: 115px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 248px;
    font-size: 32px;
    line-height: 1.09;
    margin: 33px auto 0;
  }
}
